<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.AcctUserAcctTranDetailMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.AcctUserAcctTranDetail">
		<id column="id" property="id" />
		<result column="acct_no" property="acctNo" />
		<result column="user_id" property="userId" />
		<result column="tx_amount" property="txAmount" />
		<result column="trade_type" property="tradeType" />
		<result column="create_date_time" property="createDateTime" />
		<result column="flow_id" property="flowId" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, acct_no AS acctNo, user_id AS userId, tx_amount AS txAmount, trade_type AS tradeType, create_date_time AS createDateTime, flow_id AS flowId
    </sql>
</mapper>
