<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.AcctReqFlowMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.AcctReqFlow">
		<id column="id" property="id" />
		<result column="request_no" property="requestNo" />
		<result column="flow_id" property="flowId" />
		<result column="flow_type" property="flowType" />
		<result column="create_date_time" property="createDateTime" />
		<result column="update_date_time" property="updateDateTime" />
		<result column="remark" property="remark" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, request_no AS requestNo, flow_id AS flowId, flow_type AS flowType, create_date_time AS createDateTime, update_date_time AS updateDateTime, remark
    </sql>
</mapper>
