<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.AcctPlatInfoMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.AcctPlatInfo">
		<id column="id" property="id" />
		<result column="acct_no" property="acctNo" />
		<result column="channel_no" property="channelNo" />
		<result column="acct_sub_channel" property="acctSubChannel" />
		<result column="acct_pay_type" property="acctPayType" />
		<result column="balance" property="balance" />
		<result column="warn_balance" property="warnBalance" />
		<result column="create_date_time" property="createDateTime" />
		<result column="update_time" property="updateTime" />
		<result column="desc_info" property="descInfo" />
		<result column="warn_phone" property="warnPhone" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, acct_no AS acctNo, channel_no AS channelNo, acct_sub_channel AS acctSubChannel, acct_pay_type AS acctPayType, balance, warn_balance AS warnBalance, create_date_time AS createDateTime, update_time AS updateTime, desc_info AS descInfo, warn_phone AS warnPhone
    </sql>
</mapper>
