<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.AcctUserAcctTranMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.AcctUserAcctTran">
		<id column="id" property="id" />
		<result column="flow_id" property="flowId" />
		<result column="acct_no" property="acctNo" />
		<result column="user_id" property="userId" />
		<result column="channel_no" property="channelNo" />
		<result column="credit_amount" property="creditAmount" />
		<result column="status" property="status" />
		<result column="loan_amount" property="loanAmount" />
		<result column="available_amount" property="availableAmount" />
		<result column="tx_amount" property="txAmount" />
		<result column="create_date_time" property="createDateTime" />
		<result column="update_time" property="updateTime" />
		<result column="trade_type" property="tradeType" />
		<result column="account_no" property="accountNo" />
		<result column="tx_balance" property="txBalance" />
		<result column="amount" property="amount" />
		<result column="interest" property="interest" />
		<result column="manage_amount" property="manageAmount" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, flow_id AS flowId, acct_no AS acctNo, user_id AS userId, channel_no AS channelNo, credit_amount AS creditAmount, status, loan_amount AS loanAmount, available_amount AS availableAmount, tx_amount AS txAmount, create_date_time AS createDateTime, update_time AS updateTime, trade_type AS tradeType, account_no AS accountNo, tx_balance AS txBalance, amount, interest, manage_amount AS manageAmount
    </sql>
</mapper>
