<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.AcctPlatTranMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.AcctPlatTran">
		<id column="id" property="id" />
		<result column="flow_id" property="flowId" />
		<result column="acct_no" property="acctNo" />
		<result column="channel_no" property="channelNo" />
		<result column="status" property="status" />
		<result column="acct_sub_channel" property="acctSubChannel" />
		<result column="acct_pay_type" property="acctPayType" />
		<result column="tx_amount" property="txAmount" />
		<result column="balance" property="balance" />
		<result column="create_date_time" property="createDateTime" />
		<result column="update_time" property="updateTime" />
		<result column="tx_type" property="txType" />
		<result column="trade_type" property="tradeType" />
		<result column="desc_info" property="descInfo" />
		<result column="deal_status" property="dealStatus" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, flow_id AS flowId, acct_no AS acctNo, channel_no AS channelNo, status, acct_sub_channel AS acctSubChannel, acct_pay_type AS acctPayType, tx_amount AS txAmount, balance, create_date_time AS createDateTime, update_time AS updateTime, tx_type AS txType, trade_type AS tradeType, desc_info AS descInfo, deal_status AS dealStatus
    </sql>
</mapper>
