<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.AcctPlatChargeTranMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.AcctPlatChargeTran">
		<id column="id" property="id" />
		<result column="flow_id" property="flowId" />
		<result column="third_pay_channel" property="thirdPayChannel" />
		<result column="bus_type" property="busType" />
		<result column="plat_acct_no" property="platAcctNo" />
		<result column="charge_amount" property="chargeAmount" />
		<result column="status" property="status" />
		<result column="create_date_time" property="createDateTime" />
		<result column="update_time" property="updateTime" />
		<result column="deal_status" property="dealStatus" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, flow_id AS flowId, third_pay_channel AS thirdPayChannel, bus_type AS busType, plat_acct_no AS platAcctNo, charge_amount AS chargeAmount, status, create_date_time AS createDateTime, update_time AS updateTime, deal_status AS dealStatus
    </sql>
</mapper>
