<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.ConfIpInformationMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.ConfIpInformation">
		<id column="id" property="id" />
		<result column="ip_begin" property="ipBegin" />
		<result column="ip_end" property="ipEnd" />
		<result column="ip_name" property="ipName" />
		<result column="ip_begin_num" property="ipBeginNum" />
		<result column="ip_end_num" property="ipEndNum" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, ip_begin AS ipBegin, ip_end AS ipEnd, ip_name AS ipName, ip_begin_num AS ipBeginNum, ip_end_num AS ipEndNum
    </sql>
    
    
    <select id="queryIpss"  resultType="string">
		select ip_name from conf_ip_information where 
				<![CDATA[(ip_end_num>=#{ip})]]>
				and
				<![CDATA[(ip_begin_num<=#{ip})]]>
				LIMIT 1
    </select>
</mapper>
