<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.ConfBlackGreyListMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.ConfBlackGreyList">
		<id column="id" property="id" />
		<result column="type" property="type" />
		<result column="source" property="source" />
		<result column="trigger_type" property="triggerType" />
		<result column="trigger_reason" property="triggerReason" />
		<result column="trigger_value" property="triggerValue" />
		<result column="bus_scene" property="busScene" />
		<result column="create_date_time" property="createDateTime" />
		<result column="is_relieve" property="isRelieve" />
		<result column="relieve_date_time" property="relieveDateTime" />
		<result column="relieve_user_id" property="relieveUserId" />
		<result column="end_date_time" property="endDateTime" />
		<result column="reason" property="reason" />
		<result column="operator_name" property="operatorName" />
		<result column="operator_id" property="operatorId" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, type, source, trigger_type AS triggerType, trigger_reason AS triggerReason, trigger_value AS triggerValue, bus_scene AS busScene, create_date_time AS createDateTime, is_relieve AS isRelieve, relieve_date_time AS relieveDateTime, relieve_user_id AS relieveUserId, end_date_time AS endDateTime, reason, operator_name AS operatorName, operator_id AS operatorId
    </sql>
</mapper>
