<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.ConfBcFastPayMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.ConfBcFastPay">
		<id column="id" property="id" />
		<result column="bank_code" property="bankCode" />
		<result column="pay_channel" property="payChannel" />
		<result column="bus_type" property="busType" />
		<result column="bank_name" property="bankName" />
		<result column="single_limit_money" property="singleLimitMoney" />
		<result column="day_limit_money" property="dayLimitMoney" />
		<result column="charge_unit" property="chargeUnit" />
		<result column="first_fee" property="firstFee" />
		<result column="is_effective" property="isEffective" />
		<result column="rate" property="rate" />
		<result column="create_date_time" property="createDateTime" />
		<result column="update_date_time" property="updateDateTime" />
		<result column="taskeffect_time" property="taskeffectTime" />
		<result column="charge_amount" property="chargeAmount" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, bank_code AS bankCode, pay_channel AS payChannel, bus_type AS busType, bank_name AS bankName, single_limit_money AS singleLimitMoney, day_limit_money AS dayLimitMoney, charge_unit AS chargeUnit, first_fee AS firstFee, is_effective AS isEffective, rate, create_date_time AS createDateTime, update_date_time AS updateDateTime, taskeffect_time AS taskeffectTime, charge_amount AS chargeAmount
    </sql>
</mapper>
