<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.ConfScoreCardMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.ConfScoreCard">
		<id column="id" property="id" />
		<result column="score_type" property="scoreType" />
		<result column="parameter1" property="parameter1" />
		<result column="parameter1_name" property="parameter1Name" />
		<result column="parameter2" property="parameter2" />
		<result column="parameter2_name" property="parameter2Name" />
		<result column="parameter3" property="parameter3" />
		<result column="parameter_name" property="parameterName" />
		<result column="score" property="score" />
		<result column="status" property="status" />
		<result column="create_date_time" property="createDateTime" />
		<result column="edit_date_time" property="editDateTime" />
		<result column="edit_user_id" property="editUserId" />
		<result column="take_effect_type" property="takeEffectType" />
		<result column="take_effect_time" property="takeEffectTime" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, score_type AS scoreType, parameter1, parameter1_name AS parameter1Name, parameter2, parameter2_name AS parameter2Name, parameter3, parameter_name AS parameterName, score, status, create_date_time AS createDateTime, edit_date_time AS editDateTime, edit_user_id AS editUserId, take_effect_type AS takeEffectType, take_effect_time AS takeEffectTime
    </sql>
</mapper>
