<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.PubDireTblMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.PubDireTbl">
		<id column="id" property="id" />
		<result column="type" property="type" />
		<result column="name" property="name" />
		<result column="sub_type" property="subType" />
		<result column="sub_name" property="subName" />
		<result column="code" property="code" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, type, name, sub_type AS subType, sub_name AS subName, code
    </sql>
</mapper>
