<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.SendMessageMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.SendMessage">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="type" property="type" />
		<result column="msg_type" property="msgType" />
		<result column="jump_url" property="jumpUrl" />
		<result column="create_date_time" property="createDateTime" />
		<result column="spread_channel" property="spreadChannel" />
		<result column="reserve1" property="reserve1" />
		<result column="reserve2" property="reserve2" />
		<result column="reserve3" property="reserve3" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, user_id AS userId, title, content, type, msg_type AS msgType, jump_url AS jumpUrl, create_date_time AS createDateTime, spread_channel AS spreadChannel, reserve1, reserve2, reserve3
    </sql>
</mapper>
