<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.SysBizParamMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.SysBizParam">
		<id column="param_id" property="paramId" />
		<result column="param_name" property="paramName" />
		<result column="param_type" property="paramType" />
		<result column="param_scope" property="paramScope" />
		<result column="param_value" property="paramValue" />
		<result column="param_flag" property="paramFlag" />
		<result column="param_desc" property="paramDesc" />
		<result column="param_sys_flag" property="paramSysFlag" />
		<result column="param_readonly_flag" property="paramReadonlyFlag" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        param_id AS paramId, param_name AS paramName, param_type AS paramType, param_scope AS paramScope, param_value AS paramValue, param_flag AS paramFlag, param_desc AS paramDesc, param_sys_flag AS paramSysFlag, param_readonly_flag AS paramReadonlyFlag
    </sql>
</mapper>
