<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.SysSecUserMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.SysSecUser">
		<id column="user_id" property="userId" />
		<result column="admin_org_id" property="adminOrgId" />
		<result column="parent_org_id" property="parentOrgId" />
		<result column="user_position" property="userPosition" />
		<result column="user_account" property="userAccount" />
		<result column="user_password" property="userPassword" />
		<result column="user_email" property="userEmail" />
		<result column="user_name" property="userName" />
		<result column="user_desc" property="userDesc" />
		<result column="sec_order" property="secOrder" />
		<result column="sec_enabled" property="secEnabled" />
		<result column="sec_sys_flag" property="secSysFlag" />
		<result column="sec_readonly_flag" property="secReadonlyFlag" />
		<result column="sec_delete_flag" property="secDeleteFlag" />
		<result column="version_" property="version" />
		<result column="create_date" property="createDate" />
		<result column="create_time" property="createTime" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        user_id AS userId, admin_org_id AS adminOrgId, parent_org_id AS parentOrgId, user_position AS userPosition, user_account AS userAccount, user_password AS userPassword, user_email AS userEmail, user_name AS userName, user_desc AS userDesc, sec_order AS secOrder, sec_enabled AS secEnabled, sec_sys_flag AS secSysFlag, sec_readonly_flag AS secReadonlyFlag, sec_delete_flag AS secDeleteFlag, version_ AS version, create_date AS createDate, create_time AS createTime
    </sql>
</mapper>
