<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.SysSecResourceMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.SysSecResource">
		<id column="resource_id" property="resourceId" />
		<result column="menu_code" property="menuCode" />
		<result column="resource_name" property="resourceName" />
		<result column="resource_type" property="resourceType" />
		<result column="resource_url" property="resourceUrl" />
		<result column="resource_group" property="resourceGroup" />
		<result column="sec_order" property="secOrder" />
		<result column="sec_enabled" property="secEnabled" />
		<result column="sec_sys_flag" property="secSysFlag" />
		<result column="sec_readonly_flag" property="secReadonlyFlag" />
		<result column="sec_delete_flag" property="secDeleteFlag" />
		<result column="version_" property="version" />
		<result column="create_date" property="createDate" />
		<result column="create_time" property="createTime" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        resource_id AS resourceId, menu_code AS menuCode, resource_name AS resourceName, resource_type AS resourceType, resource_url AS resourceUrl, resource_group AS resourceGroup, sec_order AS secOrder, sec_enabled AS secEnabled, sec_sys_flag AS secSysFlag, sec_readonly_flag AS secReadonlyFlag, sec_delete_flag AS secDeleteFlag, version_ AS version, create_date AS createDate, create_time AS createTime
    </sql>
</mapper>
