<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.SysSecRoleMenuMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.SysSecRoleMenu">
		<id column="role_id" property="roleId" />
		<result column="menu_code" property="menuCode" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        role_id AS roleId, menu_code AS menuCode
    </sql>
</mapper>
