<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.SysSecRoleMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.SysSecRole">
		<id column="role_id" property="roleId" />
		<result column="role_code" property="roleCode" />
		<result column="org_id" property="orgId" />
		<result column="org_level_type" property="orgLevelType" />
		<result column="data_authority" property="dataAuthority" />
		<result column="role_name" property="roleName" />
		<result column="role_desc" property="roleDesc" />
		<result column="sec_order" property="secOrder" />
		<result column="sec_enabled" property="secEnabled" />
		<result column="sec_sys_flag" property="secSysFlag" />
		<result column="sec_readonly_flag" property="secReadonlyFlag" />
		<result column="sec_delete_flag" property="secDeleteFlag" />
		<result column="create_date" property="createDate" />
		<result column="create_time" property="createTime" />
		<result column="version_" property="version" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        role_id AS roleId, role_code AS roleCode, org_id AS orgId, org_level_type AS orgLevelType, data_authority AS dataAuthority, role_name AS roleName, role_desc AS roleDesc, sec_order AS secOrder, sec_enabled AS secEnabled, sec_sys_flag AS secSysFlag, sec_readonly_flag AS secReadonlyFlag, sec_delete_flag AS secDeleteFlag, create_date AS createDate, create_time AS createTime, version_ AS version
    </sql>
</mapper>
