<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.UserAuthRecordMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.UserAuthRecord">
		<id column="u_a_r_id" property="uARId" />
		<result column="user_id" property="userId" />
		<result column="real_name" property="realName" />
		<result column="sex" property="sex" />
		<result column="idcard_type" property="idcardType" />
		<result column="idcard_no" property="idcardNo" />
		<result column="idcard_photo" property="idcardPhoto" />
		<result column="account_photo" property="accountPhoto" />
		<result column="account_no" property="accountNo" />
		<result column="vocation" property="vocation" />
		<result column="company_name" property="companyName" />
		<result column="company_address" property="companyAddress" />
		<result column="education" property="education" />
		<result column="marriage" property="marriage" />
		<result column="house_regist" property="houseRegist" />
		<result column="current_address" property="currentAddress" />
		<result column="contact_phone" property="contactPhone" />
		<result column="contact_relation" property="contactRelation" />
		<result column="create_date_time" property="createDateTime" />
		<result column="update_time" property="updateTime" />
		<result column="reserve1" property="reserve1" />
		<result column="reserve2" property="reserve2" />
		<result column="reserve3" property="reserve3" />
		<result column="status" property="status" />
		<result column="res_msg" property="resMsg" />
		<result column="image_best" property="imageBest" />
		<result column="image_env" property="imageEnv" />
		<result column="idcard_orc_photo" property="idcardOrcPhoto" />
		<result column="common_address" property="commonAddress" />
		<result column="idcard_personal_photo" property="idcardPersonalPhoto" />
		<result column="the_net_time" property="theNetTime" />
		<result column="operator" property="operator" />
		<result column="mobile_state" property="mobileState" />
		<result column="contact_name" property="contactName" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        u_a_r_id AS uARId, user_id AS userId, real_name AS realName, sex, idcard_type AS idcardType, idcard_no AS idcardNo, idcard_photo AS idcardPhoto, account_photo AS accountPhoto, account_no AS accountNo, vocation, company_name AS companyName, company_address AS companyAddress, education, marriage, house_regist AS houseRegist, current_address AS currentAddress, contact_phone AS contactPhone, contact_relation AS contactRelation, create_date_time AS createDateTime, update_time AS updateTime, reserve1, reserve2, reserve3, status, res_msg AS resMsg, image_best AS imageBest, image_env AS imageEnv, idcard_orc_photo AS idcardOrcPhoto, common_address AS commonAddress, idcard_personal_photo AS idcardPersonalPhoto, the_net_time AS theNetTime, operator, mobile_state AS mobileState, contact_name AS contactName
    </sql>
</mapper>
