<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.UserCardRecordMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.UserCardRecord">
		<id column="u_c_r_id" property="uCRId" />
		<result column="user_card_id" property="userCardId" />
		<result column="user_id" property="userId" />
		<result column="account_no" property="accountNo" />
		<result column="acc_name" property="accName" />
		<result column="reser_phone" property="reserPhone" />
		<result column="auth_channel" property="authChannel" />
		<result column="escr_channel" property="escrChannel" />
		<result column="bank_real_name" property="bankRealName" />
		<result column="card_type" property="cardType" />
		<result column="bind_id" property="bindId" />
		<result column="status" property="status" />
		<result column="oper_type" property="operType" />
		<result column="create_date_time" property="createDateTime" />
		<result column="update_time" property="updateTime" />
		<result column="resive1" property="resive1" />
		<result column="resive2" property="resive2" />
		<result column="resive3" property="resive3" />
		<result column="the_only_binding_identifier" property="theOnlyBindingIdentifier" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        u_c_r_id AS uCRId, user_card_id AS userCardId, user_id AS userId, account_no AS accountNo, acc_name AS accName, reser_phone AS reserPhone, auth_channel AS authChannel, escr_channel AS escrChannel, bank_real_name AS bankRealName, card_type AS cardType, bind_id AS bindId, status, oper_type AS operType, create_date_time AS createDateTime, update_time AS updateTime, resive1, resive2, resive3, the_only_binding_identifier AS theOnlyBindingIdentifier
    </sql>
</mapper>
