<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.XjdLenderInfoMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.XjdLenderInfo">
		<id column="lender_id" property="lenderId" />
		<result column="lender_name" property="lenderName" />
		<result column="lender_card_id" property="lenderCardId" />
		<result column="lender_email" property="lenderEmail" />
		<result column="lender_phone" property="lenderPhone" />
		<result column="fdd_customer_id" property="fddCustomerId" />
		<result column="create_date_time" property="createDateTime" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        lender_id AS lenderId, lender_name AS lenderName, lender_card_id AS lenderCardId, lender_email AS lenderEmail, lender_phone AS lenderPhone, fdd_customer_id AS fddCustomerId, create_date_time AS createDateTime
    </sql>
</mapper>
