<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.mapper.XjdLoanApplicationInfoMapper">

	<resultMap id="BaseResultMap" type="com.hyc.model.XjdLoanApplicationInfo">
		<id column="loan_no" property="loanNo" />
		<result column="user_id" property="userId" />
		<result column="apply_plat" property="applyPlat" />
		<result column="loan_amount" property="loanAmount" />
		<result column="loan_period" property="loanPeriod" />
		<result column="rate" property="rate" />
		<result column="manage_fee" property="manageFee" />
		<result column="search_fee" property="searchFee" />
		<result column="service_fee" property="serviceFee" />
		<result column="interest_way" property="interestWay" />
		<result column="repay_way" property="repayWay" />
		<result column="is_prepayment" property="isPrepayment" />
		<result column="approve_status" property="approveStatus" />
		<result column="approve_reason" property="approveReason" />
		<result column="approver" property="approver" />
		<result column="approve_time" property="approveTime" />
		<result column="real_loan_amount" property="realLoanAmount" />
		<result column="step" property="step" />
		<result column="loan_status" property="loanStatus" />
		<result column="loan_time" property="loanTime" />
		<result column="request_no" property="requestNo" />
		<result column="contr_url" property="contrUrl" />
		<result column="contr_name" property="contrName" />
		<result column="loan_way" property="loanWay" />
		<result column="ip" property="ip" />
		<result column="device_id" property="deviceId" />
		<result column="user_card_id" property="userCardId" />
		<result column="no_agree" property="noAgree" />
		<result column="lose_reason" property="loseReason" />
		<result column="loan_flag" property="loanFlag" />
		<result column="create_date_time" property="createDateTime" />
		<result column="update_date_time" property="updateDateTime" />
		<result column="reserve1" property="reserve1" />
		<result column="reserve2" property="reserve2" />
		<result column="reserve3" property="reserve3" />
		<result column="is_black" property="isBlack" />
		<result column="is_grey" property="isGrey" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        loan_no AS loanNo, user_id AS userId, apply_plat AS applyPlat, loan_amount AS loanAmount, loan_period AS loanPeriod, rate, manage_fee AS manageFee, search_fee AS searchFee, service_fee AS serviceFee, interest_way AS interestWay, repay_way AS repayWay, is_prepayment AS isPrepayment, approve_status AS approveStatus, approve_reason AS approveReason, approver, approve_time AS approveTime, real_loan_amount AS realLoanAmount, step, loan_status AS loanStatus, loan_time AS loanTime, request_no AS requestNo, contr_url AS contrUrl, contr_name AS contrName, loan_way AS loanWay, ip, device_id AS deviceId, user_card_id AS userCardId, no_agree AS noAgree, lose_reason AS loseReason, loan_flag AS loanFlag, create_date_time AS createDateTime, update_date_time AS updateDateTime, reserve1, reserve2, reserve3, is_black AS isBlack, is_grey AS isGrey
    </sql>
</mapper>
